<div class="form-group">
  <label>App Field</label>
  <input type="text" ng-model="vis.params.appField" class="form-control" /></br>

  <label>App Value</label>
  <input type="text" ng-model="vis.params.appValue" class="form-control" /></br>

  <label>Index</label>
  <input type="text" ng-model="vis.params.index" class="form-control" /></br>

  <label>Action Field</label>
  <input type="text" ng-model="vis.params.actionField" class="form-control" /></br>

  <label>Action Value</label>
  <input type="text" ng-model="vis.params.actionValue" class="form-control" /></br>
</div>

