<div class="form-group">
  <label>Index</label>
  <input type="text" ng-model="vis.params.index" class="form-control" /></br>

  <label>Geo Field</label>
  <input type="text" ng-model="vis.params.geoField" class="form-control" /></br>
  
  <label>Time Field</label>
  <input type="text" ng-model="vis.params.timeField" class="form-control" /></br>

  <label>Geo Field</label>
  <input type="text" ng-model="vis.params.geoField" class="form-control" /></br>

  <label>Scale Field</label>
  <input type="text" ng-model="vis.params.scaleField" class="form-control" /></br>

</div>
