<div class="form-group">
  <label>App Field</label>
  <input type="text" ng-model="vis.params.appField" class="form-control" /></br>

  <label>Index</label>
  <input type="text" ng-model="vis.params.index" class="form-control" /></br>

  <label>Geo Field</label>
  <input type="text" ng-model="vis.params.geoField" class="form-control" /></br>

  <label>Session Field</label>
  <input type="text" ng-model="vis.params.sessionField" class="form-control" /></br>
  
  <label>Time Field</label>
  <input type="text" ng-model="vis.params.timeField" class="form-control" /></br>

  <label>Geo Field</label>
  <input type="text" ng-model="vis.params.geoField" class="form-control" /></br>

  <label>Scale Field</label>
  <input type="text" ng-model="vis.params.scaleField" class="form-control" /></br>

  <label>Action Field</label>
  <input type="text" ng-model="vis.params.actionField" class="form-control" /></br>

  <label>Action Value</label>
  <input type="text" ng-model="vis.params.actionValue" class="form-control" /></br>

  <label>Max Session Length - {{ vis.params.maxSessionLength }}</label>
  <input type="range" ng-model="vis.params.maxSessionLength" class="form-control" min="1" max="300" /></br>

  <label>Max Event Count - {{ vis.params.maxEventCount }}</label>
  <input type="range" ng-model="vis.params.maxEventCount" class="form-control" min="1" max="1000" /></br>
</div>

