<div class="form-group">
  <label>Session Field</label>
  <input type="text" ng-model="vis.params.sessionField" class="form-control" /></br>

  <label>Action Field</label>
  <input type="text" ng-model="vis.params.actionField" class="form-control" /></br>

  <label>Time Field</label>
  <input type="text" ng-model="vis.params.timeField" class="form-control" /></br>

  <label>Max Session Count - {{ vis.params.maxSessionCount }}</label>
  <input type="range" ng-model="vis.params.maxSessionCount" class="form-control" min="2" max="100" /></br>

  <label>Max Session Length - {{ vis.params.maxSessionLength }}</label>
  <input type="range" ng-model="vis.params.maxSessionLength" class="form-control" min="2" max="100" /></br>

  <label>Index</label>
  <input type="text" ng-model="vis.params.index" class="form-control" /></br>
</div>
